

<div class=main2>
    <div class="form-field">
            <p class="blockTitle">Next Call</p>
            <p class="nextItem">{{near.personName}}</p> 
            <p class="nextItem">{{near.Phone}}</p>
            <p class="nextItem">{{near.byTime | date : "HH:mm"}}</p>
    </div>
    <div class="form-field">
        <p class="blockTitle">Add Call</p>
        <form name="Data" ng-submit="addData()">
            <input type="text" ng-model="personName" value="Name"></input>
            <input type="tel" ng-model="Phone"  value="Phone number"></input>
            <input type="time" ng-model="byTime"></input>
            <input type="submit" value="Add" >
        </form>
        <p class="errormg">{{error}}</p>
    </div>
    <div class = "Lists">
        <table>
            <tr >
                <td>Name<span class="caret" ng-click="sortBy('personName')"></span></td>
                <td>Phone number</td>
                <td>Time<span class="caret" ng-click="sortBy('byTime')"></span></button></td>
                <td>Delete</td>
                <td></td>
            </tr>
            <tr ng-repeat="item in todoList | orderBy:propertyName | filter: myFilter track by $index">
                    <td>{{ item.personName }}</td>
                    <td>{{ item.Phone}}</td>
                    <td>{{item.byTime | date : "HH:mm"}}</td>
                    <td><a ng-click="removeData($index)">delete</a></td>
                    <td><input type="checkbox" ng-model="item.Done"></input></td>
            
            </tr>
        </table>
        <div class="buttons">
            <button class="Filters" ng-click="myFilter = {}">All</button>
            <button class="Filters" ng-click="myFilter = {Done: false}">Next</button>
            <button class="Filters" ng-click="myFilter = {Done: true}">Finished</button>
        </div>
    </div>
</div>
